  /* Default height for small devices */
  #header {
    height: 400px;
  }

  /* Height for devices larger than 992px */

  @media (min-width: 699px) {
    #header {
      height: 60vh;
    }
   .card {
     height: auto
   }
  }


  @media (min-width: 992px) {
    #header {
      height: 100vh;
    }
  }

  body{
      background-color: black;

  }

  .white-section {
      background-color: #eee;
  }

  .h2-size {
    font-size: 3rem;
    font-style: italic;
    font-weight: bold;
  }
  .h2-menu {
    margin-top: 50px;
    font-size: 3rem;
   color: white
  }

  .h3-menu {
      margin-top: 50px;
      margin-bottom: 60px;
      color: white;
      text-decoration:5px underline white;
    
    }
    


    .imgHov {
     
        width: 80%;
        height: 20vh;
        object-fit: cover;
        border: 2px solid black;
        border-radius: 10px;
        margin: 20px;
        padding: 5px;
        
      
    }


    .formBody{
      background-color: #eee;
      padding: 20px;
      border: 2px solid#eee;
      border-radius: 10px;
      margin: 30px
    }

    .text-big {
      font-size: 30px;
      font-weight: bold;
      margin-top: 5px;
    }